@{
    Layout = "~/Views/Shared/_ClubLayout.cshtml";
}
@using PoolComVnWebClient.DTO
@model ClubDTO

@if (@ViewBag.Club == null)
{
    <div class="dashboard-container container">
        <div class="row news-items p-0 m-0">
            <div class="item-content d-flex justify-content-center">
                <h3>Bạn chưa có câu lạc bộ</h3>
                <a class="btn btn-primary ml-2" asp-action="CreateClub" asp-controller="Club">Thêm câu lạc bộ</a>
            </div>
        </div>
    </div>
}
else
{
    

<div class="dashboard-container container">
    <div class="row news-items p-0 m-0">
        <div class="item-content d-flex justify-content-center">
            <a asp-action="AddPost" asp-controller="Club" asp-route-clubid="@ViewBag.CLub.ClubId" class="create-btn d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <i class="fa-solid fa-plus fa-beat"></i>
                    <div>Tạo bài viết mới</div>
                </div>
            </a>
        </div>
        @if (ViewBag.ClubPost != null)
        {
            foreach (var post in ViewBag.ClubPost)
            {
                <div class="item-content d-flex justify-content-center">
                    <a asp-action="PostDetails" asp-controller="Club" asp-route-id="@post.PostId" class="news-item">
                        <div class="news-date">@post.UpdatedDate.ToString("yyyy-MM-dd")</div>
                        <div class="news-image">
                            <img src="@post.Flyer" alt="" />
                        </div>
                        <div class="news-title">@post.Title</div>
                    </a>
                </div>
            }
        }
        else
        {
            <p>Câu lạc bộ chưa có bài đăng nào.</p>
        }


    </div>
</div>
}