@{
    Layout = "~/Views/Shared/_ClubLayout.cshtml";
}
@using PoolComVnWebClient.DTO
@model ClubDTO

<div class="dashboard-container container">
    <div class="row news-items p-0 m-0">
        <div class="item-content d-flex justify-content-center">
            <a asp-action="AddPost" asp-controller="Club" asp-route-clubid="@ViewBag.CLub.ClubId" class="create-btn d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <i class="fa-solid fa-plus fa-beat"></i>
                    <div>Tạo bài viết mới</div>
                </div>
            </a>
        </div>
        @if (ViewBag.ClubPost != null)
        {
            foreach (var post in ViewBag.ClubPost)
            {
                <div class="item-content d-flex justify-content-center">
                    <a asp-action="PostDetails" asp-controller="Club" asp-route-id="@post.PostId" class="news-item">
                        <div class="news-date">@post.UpdatedDate.ToString("yyyy-MM-dd")</div>
                        <div class="hidden-btn">
                            <i class="fa-solid fa-eye-slash"></i>
                        </div>
                        <div class="news-image">
                            <img src="@post.Flyer" alt="" />
                        </div>
                        <div class="news-title">@post.Title</div>
                    </a>
                </div>
            }
        }
        else
        {
            <p>Câu lạc bộ chưa có bài đăng nào.</p>
        }


    </div>
</div>

<script>
    //Handle hidden-btn
    const hiddenBtns = document.querySelectorAll('.hidden-btn');
    hiddenBtns.forEach(hiddenBtn => {
        hiddenBtn.addEventListener('click', (e) => {
            e.preventDefault();
            if (hiddenBtn.querySelector('i').classList.contains('fa-eye-slash')) {
                hiddenBtn.innerHTML = '<i class="fa-solid fa-eye"></i>';
                var parent = hiddenBtn.parentNode;
                var newsImage = parent.querySelector('.news-image');
                newsImage.classList.add('hidden');
            } else {
                hiddenBtn.innerHTML = '<i class="fa-solid fa-eye-slash"></i>';
                var parent = hiddenBtn.parentNode;
                var newsImage = parent.querySelector('.news-image');
                newsImage.classList.remove('hidden');
            }
        })
    })

    //Handel active nav
    const clubNavBtn = document.querySelector('.club-post');
    clubNavBtn.classList.add('active');
</script>