@{
    Layout = "~/Views/Shared/_ClubLayout.cshtml";
}
@using PoolComVnWebClient.DTO
@model ClubDTO
@if (Model == null)
{
    <div class="dashboard-container container">
        <div class="row news-items p-0 m-0">
            <div class="item-content d-flex justify-content-center">
                <h3>Bạn chưa có câu lạc bộ</h3>
            </div>
        </div>
    </div>
}
else
{
    <div class="club-dashboard-nav">
        <div class="club-avt-bg d-flex justify-content-center">
            <div class="club-avt d-flex justify-content-center">
                <img src="@Model.Avatar" alt="Club Avatar">
            </div>
        </div>
        <div class=" club-name text-center">
        @Model.ClubName
        </div>
        <div class="club-nav">
            <a href="#" class="club-nav-btn">
                <i class="fa-solid fa-list-check fa-fade"></i>
                Quản lí
            </a>
            <a href="#" class="club-post club-nav-btn active">
                <i class="fa-solid fa-newspaper fa-fade"></i>
                Bài viết
            </a>
            <a href="#" class="club-nav-btn">
                <i class="fa-solid fa-trophy fa-flip"></i>
                Giải đấu
            </a>
            <a href="#" class="club-nav-btn">
                <i class="fa-solid fa-khanda fa-flip"></i>
                Trận đấu
            </a>
        </div>
        <div class="club-info">
            <div class="club-address">
                <div class="address-title">Địa chỉ:</div>
                <div class="address-content">@Model.Address</div>
            </div>
            <div class="club-address">
                <div class="address-title">Liên hệ</div>
                <div class="address-content">@Model.Phone</div>
            </div>
            <div class="club-address">
                <div class="address-title">Email</div>
                <div class="address-content">@ViewBag.AccountEmail</div>
            </div>
        </div>
    </div>

<div class="dashboard-container container">
    <div class="row news-items p-0 m-0">
        <div class="item-content d-flex justify-content-center">
            <a href="#" class="create-btn d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <i class="fa-solid fa-plus fa-beat"></i>
                    <div>Tạo bài viết mới</div>
                </div>
            </a>
        </div>
        <div class="item-content d-flex justify-content-center">
            <a href="#" class="news-item">
                <div class="news-date">14-10-2023</div>
                <div class="news-image">
                    <img src="~/images/news.jpg" alt="" />
                </div>
                <div class="news-title">VŨ HOÀI NAM DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
            </a>
        </div>
        <div class="item-content d-flex justify-content-center">
            <a href="#" class="news-item">
                <div class="news-date">14-10-2023</div>
                <div class="news-image">
                    <img src="~/images/news.jpg" alt="" />
                </div>
                <div class="news-title">VŨ HOÀI NAM DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
            </a>
        </div>
        <div class="item-content d-flex justify-content-center">
            <a href="#" class="news-item">
                <div class="news-date">14-10-2023</div>
                <div class="news-image">
                    <img src="~/images/news.jpg" alt="" />
                </div>
                <div class="news-title">VŨ HOÀI NAM DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
            </a>
        </div>
        <div class="item-content d-flex justify-content-center">
            <a href="#" class="news-item">
                <div class="news-date">14-10-2023</div>
                <div class="news-image">
                    <img src="~/images/news.jpg" alt="" />
                </div>
                <div class="news-title">VŨ HOÀI NAM DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
            </a>
        </div>
        <div class="item-content d-flex justify-content-center">
            <a href="#" class="news-item">
                <div class="news-date">14-10-2023</div>
                <div class="news-image">
                    <img src="~/images/news.jpg" alt="" />
                </div>
                <div class="news-title">VŨ HOÀI NAM DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
            </a>
        </div>
        <div class="item-content d-flex justify-content-center">
            <a href="#" class="news-item">
                <div class="news-date">14-10-2023</div>
                <div class="news-image">
                    <img src="~/images/news.jpg" alt="" />
                </div>
                <div class="news-title">VŨ HOÀI NAM DELIGHTS AS HANOI OPEN QUARTER-FINALS CONFIRMED</div>
            </a>
        </div>
        <div id="load-btn" class="item-content mt-md-5 d-flex justify-content-center">
            <a href="#" class="news-load">
                <div><i class="fa-duotone fa-plus fa-2xl"></i></div>
                <div>Xem thêm</div>
            </a>
        </div>
    </div>
</div>
}
<script>
    // check window width to set position of load button
    window.addEventListener('resize', checkLoadButtonPosition)
    function checkLoadButtonPosition() {
        var pageWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        var loadBtn = document.getElementById("load-btn");
        var threshold = 0.2 * pageWidth;
        loadBtn.classList.add('col-md-6', 'col-lg-4');
        loadBtn.classList.remove('col-12');
        if (loadBtn.offsetLeft < threshold) {
            loadBtn.classList.remove('col-md-6', 'col-lg-4');
            loadBtn.classList.add('col-12');
        }
    }
    checkLoadButtonPosition();
</script>