@using PoolComVnWebClient.DTO
@{
    Layout = "~/Views/Shared/_CreateTournamentLayout.cshtml";
    int? tourId = ViewBag.TourId as int?;
}
@model List<PlayerDTO>

<div class="container-full">
    <div class="create-tour d-flex justify-content-end">
        <div class="tour-step-nav">
            <div class="tour-step">
                <div class="step-number">1</div>
                <div class="step-title">Cài đặt</div>
            </div>
            <div class="step-network-line"></div>
            <div class="tour-step">
                <div class="step-number active">2</div>
                <div class="step-title">Người chơi</div>
            </div>
            <div class="step-network-line"></div>
            <div class="tour-step">
                <div class="step-number">3</div>
                <div class="step-title">Bàn đấu</div>
            </div>
            <div class="step-network-line"></div>
            <div class="tour-step">
                <div class="step-number">4</div>
                <div class="step-title">Ảnh bìa</div>
            </div>
            <div class="step-network-line"></div>
            <div class="tour-step">
                <div class="step-number">5</div>
                <div class="step-title">Xếp trận</div>
            </div>
            <div class="step-network-line"></div>
            <div class="tour-step">
                <div class="step-number">6</div>
                <div class="step-title">Hoàn thành</div>
            </div>
        </div>
        <div class="create-tour-display col-lg-10">
            <div class="create-step-two">
                <div class="display-title d-flex justify-content-between">
                    <div>Người chơi</div>
                    <div class="d-flex align-items-center">
                        <a class="step-two-nav active" id="all-list" asp-controller="CreateTournament" asp-action="StepTwoPlayerList">Danh sách (16)</a>
                        <a class="step-two-nav" id="request-list" asp-controller="CreateTournament" asp-action="StepTwoJoinList">Yêu cầu tham gia (3)</a>
                        <a class="step-two-nav" id="system-list" asp-controller="CreateTournament" asp-action="StepTwoPlayerSystem">Toàn hệ thống (500)</a>
                    </div>
                </div>
                
                <div class="display-content">
                    <div class="d-flex justify-content-between">
                        <div>
                            <select class="create-tour-fee" disabled>
                                <option value="0" hidden checked>Lệ phí</option>
                                <option value="Đã xong">Đã xong</option>
                                <option value="Chưa nộp">Chưa nộp</option>
                            </select>
                            <button class="club-player" disabled>Thêm vào thành viên</button>

                            <form method="post" enctype="multipart/form-data" asp-controller="CreateTournament" asp-action="ImportPlayers">
                                <input type="file" name="ImportPlayers" accept=".xls, .xlsx" />
                                <input type="hidden" id="TourId" name="tourId" value="@tourId"/>
                                <button type="submit">Import Players</button>
                            </form>

                            <button class="import-excel" onclick="downloadTemplate()">Download Template</button>

                        </div>
                        <div class="player-search d-flex align-items-end">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input class="" />
                        </div>
                    </div>
                    
                    <div class="pt-3">
                        <div class="table-overflow">
                            <table class="players-table">
                                <tr>
                                    <th>
                                        <input class="all-checkbox" type="checkbox">
                                    </th>
                                    <th>STT</th>
                                    <th>Tên</th>
                                    <th>Quốc gia</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th class="text-center">Hạng</th>
                                    <th class="player-fee">Lệ phí</th>
                                    <th>Hành động</th>
                                </tr>
                                <tbody>
                                    @if (ViewBag.ImportedPlayers != null)
                                    {
                                        int stt = 1;
                                        foreach (var player in ViewBag.ImportedPlayers)
                                        {
                                            <tr>
                                                    <input type="hidden" id="selectedPlayersInput" name="selectedPlayers" />
                                                    <td>
                                                        <input type="checkbox" class="individual-checkbox" value="@player.PlayerId" 
                                                        data-player-name="@player.PlayerName" 
                                                        data-country-name="@player.CountryName"
                                                        data-phonenumber ="@player.PhoneNumber"
                                                        data-email ="@player.Email"
                                                        data-level ="@player.Level"
                                                        data-is-payed="@player.IsPayed"
                                                        data-tourId="@tourId">
                                                </td>
                                                <td>@stt</td>
                                                    <td >@player.PlayerName</td>
                                                    <td >@player.CountryName</td>
                                                    <td >@player.PhoneNumber</td>
                                                    <td >@player.Email</td>
                                                <td class="text-center">@player.Level</td>
                                                <td class="player-fee">
                                                    @if (player.IsPayed)
                                                    {
                                                        <span>Đã nộp</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Chưa nộp</span>
                                                    }
                                                </td>
                                                <td>
                                                   
                                                </td>
                                            </tr>
                                            stt++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="9">No players available</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="tour-input pt-5">
                                <button class="submit-btn" onclick="submitForm()">Lưu và chuyển sang bước 3</button>
                        </div>
                    </div>
                    
                </div>

               
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    
    function downloadTemplate() {
        
        var hiddenAnchor = document.createElement('a');
        hiddenAnchor.href = 'https://firebasestorage.googleapis.com/v0/b/poolcomvn-82664.appspot.com/o/Tournaments%2FPlayerTemplate%2FPlayerTemplate.xlsx?alt=media&token=b6b38b05-5643-4bce-a114-6e0f6e348957';
        hiddenAnchor.target = '_blank'; 
        hiddenAnchor.download = 'PlayerTemplate.xlsx';
        document.body.appendChild(hiddenAnchor);
        hiddenAnchor.click();
        document.body.removeChild(hiddenAnchor);
    } 
    function submitForm() {
        var selectedPlayers = [];
        var tourIdValue = document.getElementById('TourId').value;
        var checkboxes = document.querySelectorAll('.individual-checkbox');

        checkboxes.forEach(function (checkbox) {
            var playerName = checkbox.getAttribute('data-player-name');
            var countryName = checkbox.getAttribute('data-country-name');
            var phoneNumber = checkbox.getAttribute('data-phonenumber');
            var email = checkbox.getAttribute('data-email');
            var level = checkbox.getAttribute('data-level');
            var isPayed = checkbox.getAttribute('data-is-payed');
            var tourId = checkbox.getAttribute('data-tourId');

            selectedPlayers.push({
                PlayerId: parseInt(checkbox.value),
                PlayerName: playerName,
                CountryName: countryName,
                PhoneNumber: phoneNumber,
                Email: email,
                Level: parseInt(level),
                IsPayed: isPayed === "true" ? true : false,
                TourId: parseInt(tourId),
            });
        });

        var selectedPlayersJson = JSON.stringify(selectedPlayers);
        console.log('Selected Players:', selectedPlayers);
        console.log('Selected Players JSON:', selectedPlayersJson);
        fetch('https://localhost:5000/api/Player/AddPlayerToTournament', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: selectedPlayersJson,
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                
                console.log('Server Response:', data);
            })
            .catch(error => {
               
                console.error('Error during AJAX request:', error);
            });
            console.log("abc");
        window.location.href = '/CreateTournament/StepThreeAddTable?tourId=' + parseInt(tourIdValue);
    }
   
    const allCheckboxBtn = document.querySelector('.all-checkbox');
    const checkboxList = document.querySelectorAll('.one-checkbox');
    const tourFee = document.querySelector('.create-tour-fee');
    const addClubPlayer = document.querySelector('.club-player');
    const successBox = document.querySelector('.success-box');
    const rowList = document.querySelectorAll('.players-table tr');
    const containerFull = document.querySelector('.container-full');


    allCheckboxBtn.addEventListener('change', () => {
        if (allCheckboxBtn.checked) {
            checkboxList.forEach(cb => {
                cb.checked = true;
                cb.classList.add('group');
            })
        } else {
            checkboxList.forEach(cb => {
                cb.checked = false;
                cb.classList.remove('group');
            })
        }
        setDisable();
    });

    checkboxList.forEach(cb => {
        cb.addEventListener('click', (e) => {
            e.stopPropagation();
            if (cb.checked === true) {
                cb.classList.add('group');
                tourFee.disabled = false;
                addClubPlayer.disabled = false;
                const groupList = document.querySelectorAll('.one-checkbox.group');
                if (groupList.length === checkboxList.length) {
                    allCheckboxBtn.checked = true;
                }
            } else {
                cb.classList.remove('group');
                setDisable();
                const groupList = document.querySelectorAll('.one-checkbox.group');
                allCheckboxBtn.checked = false;
            }
        })
    });

    rowList.forEach(row => {
        row.addEventListener('click', () => {
            const cb = row.querySelector('.one-checkbox');
            if (cb !== null) {
                cb.checked = !cb.checked;
                if (cb.checked === true) {
                    cb.classList.add('group');
                    tourFee.disabled = false;
                    addClubPlayer.disabled = false;
                    const groupList = document.querySelectorAll('.one-checkbox.group');
                    if (groupList.length === checkboxList.length) {
                        allCheckboxBtn.checked = true;
                    }
                } else {
                    cb.classList.remove('group');
                    setDisable();
                    const groupList = document.querySelectorAll('.one-checkbox.group');
                    allCheckboxBtn.checked = false;
                }
            }
        })
    })

    tourFee.addEventListener('change', () => {
        var tourFeeValue = tourFee.value;
        const groupList = document.querySelectorAll('.one-checkbox.group');
        groupList.forEach(player => {
            const trParent = player.parentNode.parentNode;
            const tdFee = trParent.querySelector('td:nth-child(8)');
            tdFee.textContent = tourFeeValue;
        });
    })

    function setDisable() {
        const groupList = document.querySelectorAll('.one-checkbox.group');
        if (groupList.length > 0) {
            tourFee.disabled = false;
            addClubPlayer.disabled = false;
        } else {
            tourFee.disabled = true;
            addClubPlayer.disabled = true;
        }
    }

    addClubPlayer.addEventListener('click', displaySuccessBox);

    function displaySuccessBox() {
        this.disabled = true;
        if (addClubPlayer.disabled === true) {
            const groupList = document.querySelectorAll('.one-checkbox.group');
            groupList.forEach(cb => {
                cb.checked = false;
                cb.classList.remove('group');
            });
            allCheckboxBtn.checked = false;
        }

        const successBox = document.createElement('div');
        successBox.className = 'success-box d-none';
        successBox.textContent = 'Thành công';
        containerFull.appendChild(successBox);

        successBox.classList.remove('d-none');
        setTimeout(() => {
            successBox.style.right = '50px';
            setTimeout(() => {
                successBox.remove();
            }, 1500);
        }, 100);
    }

  

   
</script>