@using PoolComVnWebClient.DTO
@model PaginatedList<ClubDTO>

<div class="container">
    <div class="tournament">
        <div class="normal-body">
            <div class="d-flex justify-content-end mt-4 row">
                <div class="d-flex justify-content-end col-lg-6 col-12 order-1 order-lg-2">
                    <div method="get" action="/Home/Club" class="tour-search d-flex justify-content-end align-items-center">
                        <i class="search-btn fa-solid fa-magnifying-glass" onclick="search()"></i>
                        <form method="get" action="/Home/Club">
                            <input id="searchInput" class="search-input px-2" type="text" name="searchQuery" placeholder="Câu lạc bộ, địa chỉ,..." value="@ViewBag.SearchQuery" />
                            <button type="submit" class="search-btn fa-solid fa-magnifying-glass"></button>
                        </form>
                    </div>

                    <div class="tour-filter d-flex align-items-center">
                        <div class="filter-btn">
                            <span>Bộ lọc</span>
                            <i class="fa-solid fa-filter px-2"></i>
                        </div>
                        <form method="get" action="/Home/Club" class="filter-body d-none" onsubmit="submitFilter(event)">
                            <div class="row d-flex justify-content-center">
                                <div class="d-flex justify-content-center col-4">
                                    <select id="provinceSelect" class="tour-province col-4" name="provinceName" onchange="fetchDistricts()">
                                        <option selected hidden value="0">Tỉnh</option>
                                    </select>
                                </div>

                                <div class="d-flex justify-content-center col-4">
                                    <select id="districtSelect" class="tour-city col-4" name="cityName" disabled>
                                        <option selected hidden>Quận/Huyện</option>
                                    </select>
                                </div>
                            </div>
                            <div class="pt-5 d-flex justify-content-center">
                                <div class="d-flex justify-content-center col-6">
                                    <input type="submit" class="submit-btn" value="Tìm kiếm" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="mt-5 d-flex row">
                <div class="club-list d-flex row justify-content-around">
                    @foreach (var club in Model.Items)
                    {
                        <a asp-controller="Club" asp-action="Index" asp-route-id="@club.ClubId" class="club-box">
                            <div class="club-box-border">
                                <div class="club-box-bg" style="background-image: url('@club.Avatar');"></div>
                                <div class="club-image" style="background-image: url('@club.Avatar');"></div>
                                <div class="club-info">
                                    <div class="club-name">@club.ClubName</div>
                                    <div class="club-address">
                                        <i class="fa-solid fa-location-dot"></i>
                                        <span>@club.Address</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                    @if (Model.Items.Count == 0)
                    {
                        <div class="alert alert-danger" role="alert">
                            Không tìm thấy kết quả phù hợp.
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="pagination d-flex justify-content-center align-items-center m-0">
        <div class="pagination-content d-flex justify-content-center align-items-center m-0">
            <div class="pagination-btn-big" onclick="prevPage()">Trước</div>
            @for (int pageNum = 1; pageNum <= Model.TotalPages; pageNum++)
            {
                <div class="pagination-btn @(pageNum == Model.PageIndex ? "active" : "")" onclick="goToPage(@pageNum)">@pageNum</div>
            }
            <div class="pagination-btn-big" onclick="nextPage()">Sau</div>
        </div>
    </div>
</div>

<script>
    //tour-filter button
    const filterBtn = document.querySelector('.filter-btn');
    const filterBody = document.querySelector('.filter-body');
    filterBtn.addEventListener('click', () => {
        if (filterBody.classList.contains('d-none')) {
            filterBody.classList.remove('d-none');
            filterBody.classList.add('d-block');
        } else {
            filterBody.classList.add('d-none');
            filterBody.classList.remove('d-block');
        }
    })

    // Hàm gọi API để lấy danh sách tỉnh/thành phố
    async function fetchProvinces() {
        try {
            const response = await fetch('https://localhost:5000/api/Address/provinces');
            const provincesData = await response.json();
            const provincesDropdown = document.querySelector('.tour-province');
            provincesDropdown.innerHTML = '<option selected hidden value="0">Tỉnh</option>';
            provincesData.forEach(province => {
                const option = document.createElement('option');
                option.text = province.name;
                option.value = province.name;
                provincesDropdown.add(option);
            });
        } catch (error) {
            console.error('Error fetching provinces:', error);
        }
    }

    // Hàm gọi API để lấy danh sách quận/huyện dựa trên tỉnh/thành phố được chọn
    async function fetchDistricts() {
        const selectedProvince = document.querySelector('.tour-province').value;
        const districtSelect = document.querySelector('.tour-city');
        districtSelect.disabled = true;
        districtSelect.innerHTML = '<option selected hidden>Quận/Huyện</option>';
        if (selectedProvince !== "0") {
            try {
                const response = await fetch(`https://localhost:5000/api/Address/districts/byProvinceName/${selectedProvince}`);
                const districtsData = await response.json();
                districtsData.forEach(district => {
                    const option = document.createElement('option');
                    option.text = district.name;
                    option.value = district.name;
                    districtSelect.add(option);
                });
                districtSelect.disabled = false;
            } catch (error) {
                console.error('Error fetching districts:', error);
            }
        }
    }
    document.addEventListener('DOMContentLoaded', () => {
        fetchProvinces();
    });

    function prevPage() {
        const currentPage = @Model.PageIndex;
        if (currentPage > 1) {
            goToPage(currentPage - 1);
        }
    }

    function nextPage() {
        const currentPage = @Model.PageIndex;
        const totalPages = @Model.TotalPages;
        if (currentPage < totalPages) {
            goToPage(currentPage + 1);
        }
    }

    function goToPage(pageNum) {
        window.location.href = "@Url.Action("Club", "Home")?page=" + pageNum;
    }
</script>