@using PoolComVnWebClient.DTO
@{
    ViewData["Title"] = "Home Page";
}
@model List<NewsDTO>
@if (Model.Any())
{
    var latestNews = Model.First(); // Lấy tin tức mới nhất từ danh sách

    <a href="@Url.Action("NewsDetail", "Home", new { id = latestNews.NewsId })">
        <div class="news-header" style="background-image: url('@latestNews.Flyer');">
            <div class="news-description">
                @latestNews.Title
            </div>
        </div>
    </a>
}
<div class="container">
    <div class="row news-items">
        <div class="latest-new">TIN MỚI</div>
        @foreach (var news in Model)
        {
            <a href="@Url.Action("NewsDetail", "Home", new { id = news.NewsId })" class="col-md-6 col-lg-4 news-item">
                <div class="news-date">@news.CreatedDate.ToString("dd/MM/yyyy")</div>
                <div class="news-image">
                    <img src="@news.Flyer" alt="" />
                </div>
                <div class="news-title">@news.Title</div>
            </a>
        }
        <div class="col-md-6 col-lg-12 mt-md-5 d-flex justify-content-center">
            <a href="#" class="news-load">
                <div><i class="fa-duotone fa-plus fa-2xl"></i></div>
                <div>Xem thêm</div>
            </a>
        </div>
    </div>
</div>


<script>
    // check window width to set position of load button
    window.addEventListener('resize', checkLoadButtonPosition)
    function checkLoadButtonPosition() {
        var pageWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
        var loadBtn = document.getElementById("load-btn");
        var threshold = 0.2 * pageWidth;
        loadBtn.classList.add('col-md-6', 'col-lg-4');
        loadBtn.classList.remove('col-12');
        if (loadBtn.offsetLeft < threshold) {
            loadBtn.classList.remove('col-md-6', 'col-lg-4');
            loadBtn.classList.add('col-12');
        }
    }
    checkLoadButtonPosition();
</script>